In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [8]:
def reverse_one_hot(X, y, encoder):
    reversed_data = [{} for _ in range(len(y))]
    all_categories = list(itertools.chain(*encoder.categories_))
    category_names = ['category_{}'.format(i+1) for i in range(len(encoder.categories_))]
    category_lengths = [len(encoder.categories_[i]) for i in range(len(encoder.categories_))]

    for row_index, feature_index in zip(*X.nonzero()):
        category_value = all_categories[feature_index]
        category_name = get_category_name(feature_index, category_names, category_lengths)
        reversed_data[row_index][category_name] = category_value
        reversed_data[row_index]['target'] = y[row_index]

    return reversed_data


def get_category_name(index, names, lengths):

    counter = 0
    for i in range(len(lengths)):
        counter += lengths[i]
        if index < counter:
            return names[i]
    raise ValueError('The index is higher than the number of categorical values')

In [9]:
data = [
    {'user_id': 'John', 'item_id': 'The Matrix', 'rating': 5},
    {'user_id': 'John', 'item_id': 'Titanic', 'rating': 1},
    {'user_id': 'John', 'item_id': 'Forrest Gump', 'rating': 2},
    {'user_id': 'John', 'item_id': 'Wall-E', 'rating': 2},
    {'user_id': 'Lucy', 'item_id': 'The Matrix', 'rating': 5},
    {'user_id': 'Lucy', 'item_id': 'Titanic', 'rating': 1},
    {'user_id': 'Lucy', 'item_id': 'Die Hard', 'rating': 5},
    {'user_id': 'Lucy', 'item_id': 'Forrest Gump', 'rating': 2},
    {'user_id': 'Lucy', 'item_id': 'Wall-E', 'rating': 2},
    {'user_id': 'Eric', 'item_id': 'The Matrix', 'rating': 2},
    {'user_id': 'Eric', 'item_id': 'Die Hard', 'rating': 3},
    {'user_id': 'Eric', 'item_id': 'Forrest Gump', 'rating': 5},
    {'user_id': 'Eric', 'item_id': 'Wall-E', 'rating': 4},
    {'user_id': 'Diane', 'item_id': 'The Matrix', 'rating': 4},
    {'user_id': 'Diane', 'item_id': 'Titanic', 'rating': 3},
    {'user_id': 'Diane', 'item_id': 'Die Hard', 'rating': 5},
    {'user_id': 'Diane', 'item_id': 'Forrest Gump', 'rating': 3},
]

data_frame = pd.DataFrame(data)
data_frame = data_frame[['user_id', 'item_id', 'rating']]
ratings = data_frame['rating']
data_frame.drop(columns=['rating'], inplace=True)

In [10]:
data_frame

   user_id       item_id
0     John    The Matrix
1     John       Titanic
2     John  Forrest Gump
3     John        Wall-E
4     Lucy    The Matrix
5     Lucy       Titanic
6     Lucy      Die Hard
7     Lucy  Forrest Gump
8     Lucy        Wall-E
9     Eric    The Matrix
10    Eric      Die Hard
11    Eric  Forrest Gump
12    Eric        Wall-E
13   Diane    The Matrix
14   Diane       Titanic
15   Diane      Die Hard
16   Diane  Forrest Gump

In [11]:
ohc = OneHotEncoder()
encoded_data = ohc.fit_transform(data_frame)
print(encoded_data)

  (0, 2)	1.0
  (0, 6)	1.0
  (1, 2)	1.0
  (1, 7)	1.0
  (2, 2)	1.0
  (2, 5)	1.0
  (3, 2)	1.0
  (3, 8)	1.0
  (4, 3)	1.0
  (4, 6)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 3)	1.0
  (6, 4)	1.0
  (7, 3)	1.0
  (7, 5)	1.0
  (8, 3)	1.0
  (8, 8)	1.0
  (9, 1)	1.0
  (9, 6)	1.0
  (10, 1)	1.0
  (10, 4)	1.0
  (11, 1)	1.0
  (11, 5)	1.0
  (12, 1)	1.0
  (12, 8)	1.0
  (13, 0)	1.0
  (13, 6)	1.0
  (14, 0)	1.0
  (14, 7)	1.0
  (15, 0)	1.0
  (15, 4)	1.0
  (16, 0)	1.0
  (16, 5)	1.0

In [12]:
reverse_data = reverse_one_hot(encoded_data, ratings, ohc)
print(pandas.DataFrame(reverse_data))

NameError: name 'itertools' is not defined